@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

body {
  font-family: 'Manrope', 'sans-serif';
}

.fondo-gris {
    background-color: #f9f9f9; /* Un tono de gris muy claro */
}

.articulo {
    background-color: #f2f2f2; /* Gris aún más claro para los artículos */
}
